<h1>Nice to meet you</h1>

<p>{{error}}</p>
<div class="form">
  <form action="/api/session/signUp" method="post">
    <input type="text" name="name" placeholder="name" />
    <br />
    <input type="text" name="lastname" placeholder="lastname" />
    <br />
    <input type="email" name="email" placeholder="email" />
    <br />
    <input type="password" name="password" placeholder="password" />
    <br />
    <button>sign up</button>
  </form>
</div>